@{
    this.Layout = "~/Views/Shared/_Root.cshtml";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Guacamole MVC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                <li>@Html.ActionLink("À propos de", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p><a href="https://github.com/MaitreDede/GuacamoleMvc" target="_blank">Guacamole MVC</a> - <a href="http://guac-dev.org/" target="_blank">Guacamole</a></p>
    </footer>
</div>
@section scripts{
    @this.RenderSection("scripts", required: false)
}